body{
    margin:0;
    padding: 0;
    display: flex;
    height: 100vh;
    background: black; 
}
.netflix{
    position: relative;
    width: 360px;
    height: 520px;
    overflow: hidden;
    transform: scale(.8);
}
.netflix span{
    position: absolute;
    top: 0;
    width: 120px;
    height: 100%;
    background:#fff;
}
.netflix span:nth-child(1){
    background: #b00612;
    left: 0;
}
.netflix span:nth-child(2){
    background: #e50815;
    left: 0;
    z-index: 1;
    transform-origin: top left;
    transform: skewX(25deg);
    box-shadow: 0 0  40px rgb(0,0,0,1);
}

.netflix span:nth-child(3){
    background: #b00612;
    right: 0;
}
h3{
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 10px;  
}
.netflix::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    background: linear-gradient(to right,transparent,#000,#000);
    z-index: 2;
}

.adidas{
    width: 206px;
    height: 150px;
    overflow: hidden;
    position: relative;
    }
    .shape{
        width: 46px;
        height: 150px;
        background-color: white;
        position: absolute;
        transform: rotate(-31deg);
    }
    .s1{
        top:86px;
        left: 36px;;
    }
    .s2{
        top: 45px;
        left: 82px;
    }
    .s3{
        top:4px;
        left: 128px;
    }
    
    h4{
        position: relative;
        margin-top: 180px;
        margin-left:-180px;
        justify-content: center;
        font-family: sans-serif;
        color: white;
        font-size: 2rem;
       letter-spacing: 10px;    
      }

  .green{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background: #3ac371;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  } 

  .white{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #fff;
    box-shadow: 2px 2px 3px 2px rgb(0,0,0,.3);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
.white::before{
    content: '';
    top: 65px;
    left: -15px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    position:absolute;
    transform: rotate(-50deg) rotateX(-55deg);
}
.white::after{
    content: '';
    top: 63px;
    left: -4px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent #3ac371 transparent transparent;
    position: absolute;
    transform: rotate(-51deg) rotateX(-50deg);
}
.fas{
    left: 17px;
    top: 18px;
    position: absolute;
    font-size: 35px;
    color: #fff;
    transform: rotate(90deg);
}
h5{
    position: relative;
    margin-top: 100px;
    margin-left:-20px;
    justify-content: center;
    font-family: sans-serif;
    color: white;
    font-size: 1rem;
   letter-spacing: 5px;    
  }